<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>产品与服务</title>
  <link rel="stylesheet" href="../../lib/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
  <script src="../../lib/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="home-page">
    <div class="header">
      <!-- 这里是js动态导入 -->
    </div>
    <div class="content">
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <!-- 动态渲染 -->
        </div>
        <div class="carousel-inner" id="main-carousel">
          <!-- <div class="carousel-item active" data-bs-interval="2000">
            <div id="img-photo"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5 id="img-title">Second slide label</h5>
              <p id="img-content">Some representative placeholder content for the second slide.</p>
            </div>
          </div> -->

          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</body>
<script src="./index.js" type="module"></script>

</html>