<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新闻中心</title>
    <link rel="stylesheet" href="../../lib/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
    <script src="../../lib/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="http://51z872495e.vicp.fun:44797/bg.mp4" type="video/mp4">
        </video>
    </div>
    <div class="home-page">
        <div class="header">
            <!-- 这里是js动态导入 -->
        </div>
        <div class="content">
            <div class="title">
            </div>
            <p class="fst-normal" id="author">作者：</p>
            <hr>
            <div class="main-content" id="main-content">

            </div>
        </div>
</body>
<script src="./index.js" type="module"></script>

</html>