<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="../../lib/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
  <script src="../../lib/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="index.css">
  <script src="./index.js" type="module"></script>
  <script src="/admin/lib/echarts.js"></script>
</head>

<body>
  <div class="home-page">
    <div class="header">
      <!-- 这里是js动态导入 -->
    </div>
    <div class="content">
      <div style="width: 100%;">
        <div class="row" style="width: 100%;">
          <div class="col-2 sidemenu">
            <!-- 这里是js动态导入通过网络请求请求component组件 -->
          </div>
          <div class="col-10 content-center ">
            <div class="maincontent">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">首页</li>
                </ol>
              </nav>

              <!-- 个人信息 -->
              <div class="userinfo">
                
              </div>
              <div id="main" style="width: 600px;height:400px;margin-top: 30px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>